{% extends 'basehome.html' %}
{% block main-content %}
{% load staticfiles %}
    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                    <h1 class="content-heading">Historia Clínica</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <section class="content-inner margin-top-no">
			        <div class="card">
                        <div class="card-main">
                            <div class="card-inner margin-bottom-no">
                                <p class="card-heading"><i class="fa fa-address-card-o" aria-hidden="true"></i> Ficha de identificacion</p>
                                <div class="card-table">
                                    <div class="table-responsive">
                                        <table class="table" title="Ficha identificacion">
                                            <tbody>
                                                <tr>
                                                    <td><b>Nombre: </b>{{ paciente.nombre_completo }}</td>
                                                    <td><b>Identificacion: </b>{{ paciente.cedula }}</td>
                                                    <td><b>Edad: </b>{{ paciente.edad }} </td>
                                                    <td><b>Sexo: </b> {{ paciente.sexo }} </td>
                                                </tr>
                                                <tr>
                                                  <td><b>Telefono: </b>{{ paciente.telefono }}</td>
                                                  <td><b>Estado Civil: </b>{{ paciente.estado_civil}} </td>
                                                  <td><b>Ocupación: </b>{{ paciente.ocupacion}} </td>
                                                  <td><b>EPS: </b>{{ paciente.eps }}</td>
                                                </tr>
                                                <tr>
                                                  <td><b>Vinculacion: </b>{{ paciente.vinculacion }}</td>
                                                  <td><b>Facultad: </b>{{ paciente.facultad }}</td>
                                                  <td><b>Programa: </b>{{ paciente.programa }}</td>
                                                  <td><b>G. Sanguíneo: </b>{{ paciente.tipo_sangre }}</td>
                                                </tr>
                                                <tr>
                                                  <td><b>Email: </b>{{ paciente.email}}</td>
                                                  <td><b>Ciudad: </b>{{ paciente.ciudad }}</td>
                                                  <td><b>Departamento: </b>{{ paciente.departamento }}</td>
                                                  <td><b>Pais: </b>{{ paciente.pais }}</td>
                                                </tr>
                                                <tr>
                                                  <td><b>Direccion: </b>{{ paciente.direccion }}</td>
                                                  <td><b>Religion: </b>{{ paciente.religion }}</td>
                                                  <td><b>Nacimiento: </b>{{ paciente.fecha_nacimiento }}</td>
                                                  <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner margin-bottom-no c-consultas-historia">
                            <p class="card-heading c-consultas-titulo"><i class="fa fa-child" aria-hidden="true"></i>Antecedentes</p>
                            <div class="card-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Nombre</td>
                                                <td>Tipo</td>
                                                <td>Descripcion</td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for a in antecedentes %}
                                            <tr>
                                                <td>{{ a.nombre }}</td>
                                                <td>{{ a.tipo }}</td>
                                                <td>{{ a.descripcion }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner margin-bottom-no c-consultas-historia">
                            <p class="card-heading c-consultas-titulo"><i class="fa fa-heartbeat" aria-hidden="true"></i> Consultas</p>
                            <div class="card-table">
                                {% include 'TileWrapConsultas.html' %}
                            </div>
                        </div>
                     </div>
                </div>
                </section>
            </div>
        </div>
    </div>
    
{% endblock %}