{% extends 'basehome.html'%}
{% block main-content%}

<div class="content-header ui-content-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="content-heading"></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <section class="content-inner margin-top-no">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner margin-bottom-no">
                            <p class="card-heading">
                                <div class="alert alert-success" align="center">
                                    <strong>Paciente guardado con exito !</strong>
                                </div>
                            </p>
                            <div class="card-table">
                                <div class="table-responsive">
                                    <table class="table" title="A table within a card">
                                        <tbody>
                                            <tr>
                                                <td><b>Nombre: </b>{{ paciente.nombre_completo }}</td>
                                                <td><b>Identificacion: </b>{{ paciente.cedula }}</td>
                                                <td><b>Edad: </b>{{ paciente.edad }} </td>
                                                <td><b>Sexo: </b> {{ paciente.sexo }} </td>
                                            </tr>
                                            <tr>
                                              <td><b>Telefono: </b>{{ paciente.telefono }}</td>
                                              <td> <b>Estado Civil: </b>{{ paciente.estado_civil}} </td>
                                              <td> <b>Ocupación: </b>{{ paciente.ocupacion}} </td>
                                              <td><b>EPS: </b>{{ paciente.eps }}</td>
                                            </tr>
                                            <tr>
                                              <td><b>Vinculacion: </b>{{ paciente.vinculacion }}</td>
                                              <td><b>Facultad: </b>{{ paciente.facultad }}</td>
                                              <td><b>Programa: </b>{{ paciente.programa }}</td>
                                              <td><b>G. Sanguíneo: </b>{{ paciente.tipo_sangre }}</td>
                                            </tr>
                                            <tr>
                                              <td><b>Email: </b>{{ paciente.email}}</td>
                                              <td><b>Ciudad: </b>{{ paciente.ciudad }}</td>
                                              <td><b>Departamento: </b>{{ paciente.departamento }}</td>
                                              <td><b>Pais: </b>{{ paciente.pais }}</td>
                                            </tr>
                                            <tr>
                                              <td><b>Direccion: </b>{{ paciente.direccion }}</td>
                                              <td><b>Religion: </b>{{ paciente.religion }}</td>
                                              <td><b>Nacimiento: </b>{{ paciente.fecha_nacimiento }}</td>
                                              <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="card-action-btn pull-right">
                                <a href="{% url 'modificar_paciente' paciente.id %}" data-toggle="tooltip" title="Editar" class="btn btn-indigo">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a data-backdrop="static" data-toggle="modal" href="#dialog_delete_paciente2" class="btn btn-rojo">
                                   <i class="fa fa-trash"></i>
                                </a>
                                <div aria-hidden="true" class="modal modal-va-middle fade" id="dialog_delete_paciente2" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-xs">
                                        <div class="modal-content">
                                            <div class="modal-inner">
                                                <p class="h5 margin-top-sm text-black-hint">Si desea eliminar este paciente ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <p class="text-right">
                                                    <a class="btn btn-flat btn-brand-accent waves-attach" data-dismiss="modal">Cancelar</a>
                                                    <a class="btn btn-flat btn-brand-accent waves-attach" href="{% url 'eliminar_paciente' paciente.id %}">Aceptar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'agregar_antecedentes' paciente.id %}" class="btn btn-teal">
                    Agregar antecedente
                </a>
                <a href="{% url 'agregar_paciente' %}" class="btn btn-indigo">
                    Agregar otro paciente
                </a>
                <a href="{% url 'agregar_consulta' paciente.id %}" class="btn btn-verde">
                    Agregar Consulta
                </a>
            </section>
        </div>
    </div>
</div>
{% endblock%}