{% extends 'basehome.html' %}

{% block main-content %}

    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                    <h1 class="content-heading">Estadisticas</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <section class="content-inner margin-top-no">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-brand-accent">
                                            <div class="card-main">
                                                <div class="card-inner">
                                                    <h3>Dia</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-brand-accent">
                                            <div class="card-main">
                                                <div class="card-inner">
                                                    <h3>Mes</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-brand-accent">
                                            <div class="card-main">
                                                <div class="card-inner">
                                                    <h3>Total</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}




