<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="Sistemas atencion libre">
    <meta name="author" content="Jesus Diaz">
    <title>Libre</title>
    {% load staticfiles %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
{% block main %}{% endblock %}
</body>
</html>