{% extends 'home.html' %}
{% block main_content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">
					Buscar paciente 
					<i class="fa fa-search"></i>
				</h2>
			</div>
			<div class="panel-body">
				<form method="POST">{% csrf_token %}
					<div class="form-group">
						<input type="number" name="cedula" required class="form-control" placeholder="Identificacion" />
					</div>
					<div align="center">
						<button type="submit" class="btn btn-primary">
							Buscar <i class="fa fa-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	{% if error %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger text-center">
                Paciente no registrado.
            </div>
        </div>
    </div>
    <div class="row">
        <div align="center">
            <a href="#" type="button" class="btn btn-info">Agregar paciente</a>
        </div>
    </div>


    {% endif %}
</div>

{% if paciente and post %}
	<div class="row">

	<div class="col-md-6 col-md-offset-3">
		<div class="alert alert-success text-center">
			<strong>Listo</strong>, paciente encontrado
		</div>
	</div>
	
	<br>

	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered table-striped table-hovered">
			<thead>
				<tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Identificacion</th>
					<th class="text-center">Facultad</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">
						{{ paciente.nombre_completo }}
					</td>
					<td class="text-center">
						{{ paciente.cedula }}
					</td>
					<td class="text-center">
						{{ paciente.facultad }}
					</td>
					<td class="text-center">
						<a href="" class="btn btn-primary btn-xs">
							reservar <i class="fa fa-calendar"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{% endif %}

{% endblock %}